# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

#Final Files
*.iso
*.krn


# Folders
!/.obj
/.obj/*


!/.vscode
/.vscode/*

!/.grub-files
/.grub-files/*

!/.emulador
/.emulador/*

# Especific Files
include_paths.bat
makefile.my-pc.mk